body{
	font-family: 'open san', san-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}


.nav{
	position: static;
	right: 150px;
	margin: 0.5rem;
	display: inline;
}

#logo{
	position: relative;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: scroll;
	background-position: center top;

}
.subtitle{
	position: relative;
	text-align: right;
	display: inline-block;
}
.title{
	text-align: right;
	position: relative;
}
.tuitt-button{
	background-color: #c2195b;
	border-radius: 8px;
	padding: 5px;
	color: whitesmoke;
}
.apply-button{
	background-color: #c2195b;
	padding: 5px;
	border-radius: 10px;
	color: white;
}
.book-button{
	background-color: #336589;
	padding: 5px;
	border-radius: 10px;
	color: white;
	display: inline-block;
}
.title-2{
	text-align: center;
	position: relative;
	display: block;
	margin-top: 3rem;
}
.intro-description{
	text-align: center;
	position: relative;
	display: block;
	margin: 3rem;
}

.prefooter-description{
	text-align: center;
	position: relative;
	display: block;
	margin: 3rem;
}
footer{
	padding: 0.5rem;
	text-align: center;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-align: center;
}